@using Ruggeri.Nicolò._5H.XMLWebAddRecord.Models;
@{
    ViewBag.Title = "Aggiungi";
}
@model Persona

<h2>Aggiungi Persona</h2>

@using (Html.BeginForm("Salva", "Default", FormMethod.Post, htmlAttributes: new { @name = "SalvaPersona", @id = "SalvaPersona", @onSubmit = "return controllo();" }))
{
    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" name="Nome"/><br />
        <label>Cognome</label>
        <input type="text" class="form-control" name="Cognome" /><br />
        <label>Stato</label>
        <select class="form-control" name="Stato">
            <option>Iscritto</option>
            <option>NonIscritto</option>
        </select><br />
        <input type="submit" class="form-control" />
    </div>
}
